@charset "UTF-8";
.normal_btn, .normal_tb td, .page_item, .page_item:not(:last-child):after, .gototop, .nav_menu_item, .nav_menu_item i, .tab_item, .otherTab_item, .filter_inpBox ._add,
.filter_inpBox ._minus, .filter_btn, .filter_select_li, .technology_item, .technology_technical_list, .resume_title._otherStyle {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.normal_btn, .normal_tb td, .page_item, .gototop, .nav_menu_item, .tab_item, .otherTab_item, .filter_inpBox ._add,
.filter_inpBox ._minus, .filter_radio, .filter_check_span, .filter_btn, .filter_select, .filter_select_li, .resume_title._otherStyle, .alert_close {
  cursor: pointer;
}

h1 {
  font-family: NotoSansCJKTC;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

._min1120px {
  min-width: 1120px;
}

.mt10px {
  margin-top: 10px;
}

.mt14px {
  margin-top: 14px;
}

.txtc,
th.txtc,
td.txtc {
  text-align: center;
}

.normal_btn {
  min-width: 136px;
  height: 35px;
  border-radius: 6px;
  background-color: #fff;
  font-size: 14px;
}

.normal_btn._addfile {
  border: solid 1px #556ff6;
  color: #556ff6;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_btn._addfile:hover {
    background-color: #556ff6;
    color: #fff;
  }
}

.normal_btn._addfile:active {
  background-color: #556ff6;
  color: #fff;
}

.normal_btn._addinterview {
  border: solid 1px #643fdb;
  color: #643fdb;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_btn._addinterview:hover {
    background-color: #643fdb;
    color: #fff;
  }
}

.normal_btn._addinterview:active {
  background-color: #643fdb;
  color: #fff;
}

.normal_btn._list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28px;
  padding: 1px 12px 3px;
  border-radius: 14px;
  background-color: #3fc996;
  font-size: 16px;
  color: #fff;
}

.normal_btn._list:after {
  content: attr(data-num);
  margin-left: 24px;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_btn._list:hover {
    background-color: #1fb57e;
  }
}

.normal_btn._list:active {
  background-color: #1fb57e;
}

.normal_btn._collect {
  position: absolute;
  top: 15px;
  right: 15px;
  min-width: 80px;
  height: 24px;
  padding: 2px 0;
  color: #556ff6;
  border-radius: 6px;
  border: solid 1px #556ff6;
  background-color: #fff;
  font-size: 14px;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_btn._collect:hover {
    background-color: #556ff6;
    color: #fff;
  }
}

.normal_btn._collect:active {
  background-color: #556ff6;
  color: #fff;
}

.normal_btn._company {
  min-width: 80px;
  height: 24px;
  margin-top: 10px;
  margin-left: 30px;
  padding: 4px 12px 6px;
  background-color: #817fff;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1;
  color: #fff;
}

.normal_btn._company + .normal_btn._company {
  margin-left: 10px;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_btn._company:hover {
    background-color: #5138e1;
  }
}

.normal_btn._company:active {
  background-color: #5138e1;
}

.normal_btn._more {
  min-width: 52px;
  height: 20px;
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  background-color: #556ff6;
}

.normal_btn._download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 110px;
  height: 28px;
  margin-left: auto;
  margin-bottom: 10px;
  border-radius: 14px;
  background-color: #556ff6;
  color: #fff;
}

.normal_btn._download::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background: url("../images/icon_download.svg") no-repeat center/contain;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_btn._download:hover {
    background-color: #2949f2;
  }
}

.normal_btn._download:active {
  background-color: #2949f2;
}

.normal_btn._unprocessed {
  min-width: 86px;
  height: 32px;
  border-radius: 17px;
  background-color: rgba(129, 127, 255, 0.5);
  color: #fff;
}

.normal_btn._progress {
  min-width: 86px;
  height: 32px;
  border-radius: 17px;
  background-color: #817fff;
  color: #fff;
}

.normal_btn._processed {
  min-width: 86px;
  height: 32px;
  border-radius: 17px;
  background-color: #5452b7;
  color: #fff;
}

.normal_tb {
  width: 100%;
  text-align: left;
}

.normal_tb._fixed {
  table-layout: fixed;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .normal_tb tr:hover td {
    background-color: #f1f5fd;
  }
}

.normal_tb tr:active td {
  background-color: #f1f5fd;
}

.normal_tb th {
  height: 50px;
  color: #8990a5;
  -webkit-box-shadow: inset 0 -1px 0 0 #dee2e6;
          box-shadow: inset 0 -1px 0 0 #dee2e6;
  background-color: #fff;
}

.normal_tb th:first-child {
  padding-left: 30px;
}

.normal_tb td {
  height: 50px;
  -webkit-box-shadow: inset 0 -1px 0 0 #dee2e6;
          box-shadow: inset 0 -1px 0 0 #dee2e6;
}

.normal_tb td:first-child {
  padding-left: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 40%;
}

.normal_tb span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 40%;
}

.normal_tb .normal_btn {
  position: relative;
  top: auto;
  right: auto;
  min-width: 100px;
  height: 34px;
}

.page {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.page_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 38px;
  color: #556ff6;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  font-size: 16px;
}

.page_item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: 1px;
  height: 100%;
  background-color: #556ff6;
}

.page_item + .page_item {
  border-left: 1px solid #dee2e6;
}

.page_item:first-child {
  border-left: 1px solid #dee2e6;
}

.page_item:last-child {
  border-right: 1px solid #dee2e6;
}

.page_item.on {
  border-color: #556ff6;
  background-color: #556ff6;
  color: #fff;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .page_item:hover {
    border-color: #556ff6;
  }
  .page_item:hover:after {
    opacity: 1;
  }
}

.page_item:active {
  border-color: #556ff6;
}

.page_item:active:after {
  opacity: 1;
}

.gototop {
  position: fixed;
  right: 8px;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  -webkit-box-shadow: 0 0 6px 0 rgba(68, 70, 74, 0.4);
          box-shadow: 0 0 6px 0 rgba(68, 70, 74, 0.4);
  background-color: rgba(137, 140, 145, 0.5);
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .gototop:hover {
    -webkit-box-shadow: 0 0 6px 0 rgba(68, 70, 74, 0.7);
            box-shadow: 0 0 6px 0 rgba(68, 70, 74, 0.7);
  }
}

.gototop:active {
  -webkit-box-shadow: 0 0 6px 0 rgba(68, 70, 74, 0.7);
          box-shadow: 0 0 6px 0 rgba(68, 70, 74, 0.7);
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
  background-color: #f7f8fa;
}

.nav {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 250px;
  height: 100%;
  padding-top: 40px;
  background-color: #191e38;
}

.nav_title {
  font-family: NotoSansCJKTC;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.nav_menu {
  margin-top: 40px;
}

.nav_menu_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding-left: 20px;
  color: #8990a5;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .nav_menu_item:hover {
    color: #ffffff;
  }
  .nav_menu_item:hover i {
    -webkit-filter: invert(100%) sepia(27%) saturate(192%) hue-rotate(231deg) brightness(106%) contrast(105%);
            filter: invert(100%) sepia(27%) saturate(192%) hue-rotate(231deg) brightness(106%) contrast(105%);
  }
}

.nav_menu_item:active {
  color: #ffffff;
}

.nav_menu_item:active i {
  -webkit-filter: invert(100%) sepia(27%) saturate(192%) hue-rotate(231deg) brightness(106%) contrast(105%);
          filter: invert(100%) sepia(27%) saturate(192%) hue-rotate(231deg) brightness(106%) contrast(105%);
}

.nav_menu_item + .nav_menu_item {
  margin-top: 10px;
}

.nav_menu_item i {
  margin-right: 22px;
  -webkit-filter: invert(61%) sepia(6%) saturate(935%) hue-rotate(188deg) brightness(93%) contrast(92%);
          filter: invert(61%) sepia(6%) saturate(935%) hue-rotate(188deg) brightness(93%) contrast(92%);
}

.nav_menu_item ._arr_right {
  position: absolute;
  right: 20px;
  margin-right: 0;
}

.nav_menu_item.on {
  background-color: #556ff6;
  color: #ffffff;
}

.nav_menu_item.on i {
  -webkit-filter: invert(100%) sepia(27%) saturate(192%) hue-rotate(231deg) brightness(106%) contrast(105%);
          filter: invert(100%) sepia(27%) saturate(192%) hue-rotate(231deg) brightness(106%) contrast(105%);
}

.content {
  overflow: auto;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 66px;
}

.content._hasFixFooter {
  padding-bottom: 105px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0 20px;
}

.header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_info > .icon {
  position: relative;
}

.header_info > .icon img {
  -webkit-filter: invert(61%) sepia(6%) saturate(935%) hue-rotate(188deg) brightness(93%) contrast(92%);
          filter: invert(61%) sepia(6%) saturate(935%) hue-rotate(188deg) brightness(93%) contrast(92%);
}

.header_info > .icon::after {
  content: attr(data-num);
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  background-color: #f80d38;
  border-radius: 100px;
  font-family: NotoSansCJKTC;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  -webkit-transform: translate(40%, -50%);
          transform: translate(40%, -50%);
}

.header_member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.header_member .icon._member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #a5acc3;
  border-radius: 100px;
}

.header_member .icon._member img {
  width: 17px;
  height: 18px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.header_member .icon._trangle_bottom {
  position: relative;
  width: 16px;
  height: 8px;
  margin-left: 10px;
  -webkit-filter: invert(81%) sepia(14%) saturate(369%) hue-rotate(188deg) brightness(85%) contrast(84%);
          filter: invert(81%) sepia(14%) saturate(369%) hue-rotate(188deg) brightness(85%) contrast(84%);
}

.header_member .icon._trangle_bottom img {
  position: absolute;
  top: 0;
  left: 0;
}

.header_member_name {
  margin-left: 10px;
  font-family: NotoSansCJKTC;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 10px;
  padding: 0 20px;
}

.breadcrumb_item {
  color: #8990a5;
}

.breadcrumb_item + .breadcrumb_item::before {
  content: "＞";
  margin-left: 5px;
  color: #8990a5;
}

.breadcrumb_item:last-child {
  color: #182b4d;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.tab_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 35px;
  background-color: #e4e5e7;
  color: #8990a5;
  font-size: 14px;
}

.tab_item:first-child {
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
}

.tab_item:last-child {
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .tab_item:hover {
    color: #000;
  }
}

.tab_item:active {
  color: #000;
}

.tab_item.on {
  background-color: #556ff6;
  color: #fff;
}

.otherTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.otherTab_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 120px;
  height: 36px;
  padding: 5px 12px;
  color: #182b4d;
  opacity: 0.5;
}

.otherTab_item::before {
  content: "";
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
  display: none;
  width: 16px;
  height: 5px;
  margin: auto;
  background: url("../images/icon_select_arrow.svg") no-repeat center/cover;
}

.otherTab_item:first-child {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.otherTab_item:last-child {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.otherTab_item:nth-child(1) {
  background-color: #8ce9cf;
}

.otherTab_item:nth-child(1)::before {
  -webkit-filter: invert(87%) sepia(54%) saturate(324%) hue-rotate(87deg) brightness(97%) contrast(87%);
          filter: invert(87%) sepia(54%) saturate(324%) hue-rotate(87deg) brightness(97%) contrast(87%);
}

.otherTab_item:nth-child(2) {
  background-color: #fccb91;
}

.otherTab_item:nth-child(2)::before {
  -webkit-filter: invert(88%) sepia(15%) saturate(1386%) hue-rotate(324deg) brightness(102%) contrast(98%);
          filter: invert(88%) sepia(15%) saturate(1386%) hue-rotate(324deg) brightness(102%) contrast(98%);
}

.otherTab_item:nth-child(3) {
  background-color: #8cbef6;
}

.otherTab_item:nth-child(3)::before {
  -webkit-filter: invert(66%) sepia(81%) saturate(366%) hue-rotate(184deg) brightness(99%) contrast(96%);
          filter: invert(66%) sepia(81%) saturate(366%) hue-rotate(184deg) brightness(99%) contrast(96%);
}

.otherTab_item:nth-child(4) {
  background-color: #9295f7;
}

.otherTab_item:nth-child(4)::before {
  -webkit-filter: invert(53%) sepia(95%) saturate(388%) hue-rotate(201deg) brightness(98%) contrast(97%);
          filter: invert(53%) sepia(95%) saturate(388%) hue-rotate(201deg) brightness(98%) contrast(97%);
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .otherTab_item:hover {
    opacity: 1;
  }
}

.otherTab_item:active {
  opacity: 1;
}

.otherTab_item.on {
  opacity: 1;
}

.otherTab_item.on::before {
  display: block;
}

.nodata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a9b0c7;
}

.nodata .icon._search {
  width: 40px;
  height: 36px;
  margin-right: 5px;
}

.icon {
  position: relative;
  display: block;
}

.icon._dashboard {
  width: 21px;
  height: 18px;
}

.icon._search {
  width: 19px;
  height: 18px;
}

.icon._connect {
  width: 21px;
}

.icon._convert {
  width: 20px;
}

.icon._company, .icon._service {
  width: 22px;
}

.icon._folder, .icon._cooperate {
  width: 24px;
}

.icon._arr_right {
  width: 14px;
}

.icon._notification {
  width: 21px;
}

.icon._add, .icon._minus {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 23px;
  height: 23px;
}

.icon._gototop {
  width: 18px;
  height: 18px;
  -webkit-filter: invert(98%) sepia(2%) saturate(7%) hue-rotate(10deg) brightness(102%) contrast(105%);
          filter: invert(98%) sepia(2%) saturate(7%) hue-rotate(10deg) brightness(102%) contrast(105%);
}

.icon svg {
  width: 100%;
  height: 100%;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
}

.filter_inpGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 16px;
}

.filter_inpBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 836px;
}

.filter_inpBox + .filter_inpBox {
  margin-top: 10px;
}

.filter_inpBox .tab {
  margin-right: 14px;
}

.filter_inpBox .tab_item {
  width: 60px;
  height: 30px;
  font-size: 14px;
}

.filter_inpBox ._add,
.filter_inpBox ._minus {
  -webkit-filter: invert(44%) sepia(17%) saturate(3930%) hue-rotate(206deg) brightness(95%) contrast(103%);
          filter: invert(44%) sepia(17%) saturate(3930%) hue-rotate(206deg) brightness(95%) contrast(103%);
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .filter_inpBox ._add:hover,
  .filter_inpBox ._minus:hover {
    -webkit-filter: invert(19%) sepia(86%) saturate(5727%) hue-rotate(235deg) brightness(99%) contrast(92%);
            filter: invert(19%) sepia(86%) saturate(5727%) hue-rotate(235deg) brightness(99%) contrast(92%);
  }
}

.filter_inpBox ._add:active,
.filter_inpBox ._minus:active {
  -webkit-filter: invert(19%) sepia(86%) saturate(5727%) hue-rotate(235deg) brightness(99%) contrast(92%);
          filter: invert(19%) sepia(86%) saturate(5727%) hue-rotate(235deg) brightness(99%) contrast(92%);
}

.filter_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 42px;
  margin-right: 12px;
  padding: 0 10px;
  border-radius: 6px;
  border: solid 1px #e0e2e8;
  background-color: #fff;
}

.filter_input input {
  width: 100%;
  height: 100%;
  padding-left: 12px;
}

.filter_input input::-webkit-input-placeholder {
  color: #a9b0c7;
}

.filter_input input:-ms-input-placeholder {
  color: #a9b0c7;
}

.filter_input input::-ms-input-placeholder {
  color: #a9b0c7;
}

.filter_input input::placeholder {
  color: #a9b0c7;
}

.filter_radioBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 65px;
  margin-top: 20px;
  padding: 0 20px;
  background-color: #eceff4;
}

.filter_radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.filter_radio_span {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  border-radius: 12px;
  border: solid 1px #e0e2e8;
  background-color: #fff;
}

.filter_radio_span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 10px;
  height: 10px;
  margin: auto;
  border-radius: 12px;
  background-color: #556ff6;
}

input:checked + .filter_radio_span {
  border-color: #556ff6;
}

input:checked + .filter_radio_span:before {
  display: block;
}

.filter_radio input {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.filter_radio + .filter_radio {
  margin-left: 20px;
}

.filter_checkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  padding: 0 20px;
  font-size: 16px;
}

.filter_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter_check_span {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  border-radius: 4px;
  border: solid 1px #e0e2e8;
  background-color: #fff;
}

.filter_check_span:before {
  content: "";
  display: none;
  width: 16.6px;
  height: 11.8px;
  background: url("../images/icon_check.svg") no-repeat center/cover;
}

input:checked + .filter_check_span {
  border-color: #556ff6;
}

input:checked + .filter_check_span:before {
  display: block;
}

.filter_check input {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.filter_check_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.filter_check_group .filter_check {
  margin-right: 20px;
  margin-bottom: 15px;
}

.filter_btnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 20px;
}

.filter_btn {
  min-width: 120px;
  height: 42px;
  font-size: 16px;
  border-radius: 6px;
}

.filter_btn._clear {
  background-color: #e8effd;
  color: #556ff6;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .filter_btn._clear:hover {
    background-color: #c4d7fd;
  }
}

.filter_btn._clear:active {
  background-color: #c4d7fd;
}

.filter_btn._search {
  background-color: #556ff6;
  color: #fff;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .filter_btn._search:hover {
    background-color: #2949f2;
  }
}

.filter_btn._search:active {
  background-color: #2949f2;
}

.filter_btn + .filter_btn {
  margin-left: 30px;
}

.filter_select {
  position: relative;
  display: block;
  min-width: 146px;
  height: 42px;
  margin-right: 10px;
}

.filter_select_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px #e0e2e8;
  background-color: #fff;
}

.filter_select_txt::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  display: block;
  width: 20px;
  height: 8px;
  margin: auto;
  background: url("../images/icon_user_arrow.svg") no-repeat center/contain;
}

.filter_select_ul {
  position: absolute;
  top: calc(100% + 5px);
  display: none;
  width: 100%;
  border-radius: 6px;
  border: solid 1px #e0e2e8;
  background-color: #fff;
}

.on .filter_select_ul {
  display: block;
}

.filter_select_li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .filter_select_li:hover {
    background-color: #e2e9ff;
  }
}

.filter_select_li:active {
  background-color: #e2e9ff;
}

.technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.technology_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  min-height: 196px;
  padding: 16px 18px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .technology_item:hover {
    background-color: #f1f5fd;
  }
}

.technology_item:active {
  background-color: #f1f5fd;
}

.technology_item + .technology_item {
  margin-top: 10px;
}

.technology_item_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 136px;
}

.detail .technology_item_info {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 100%;
}

.detail .technology_item_info div:not(.technology_item_name) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-left: 60px;
}

.technology_item_info .normal_btn + .normal_btn {
  margin-top: 14px;
}

.technology_item_name {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.detail .technology_item_name {
  font-size: 32px;
}

.technology_item_name::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  background: url("../images/icon_tercher.svg") no-repeat center/contain;
  -webkit-filter: invert(47%) sepia(97%) saturate(3236%) hue-rotate(215deg) brightness(97%) contrast(99%);
          filter: invert(47%) sepia(97%) saturate(3236%) hue-rotate(215deg) brightness(97%) contrast(99%);
}

.technology_item_detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% - 136px);
  padding-left: 30px;
}

.detail .technology_item_detail {
  padding-top: 44px;
  padding-left: 20px;
}

.technology_item_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
}

.technology_item_list::before {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  content: attr(data-title);
  font-size: 16px;
  color: #8990a5;
}

.technology_item_list:nth-child(1) {
  width: 30%;
}

.technology_item_list:nth-child(2) {
  width: 70%;
}

.detail .technology_item_list:nth-child(2) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.technology_item_list:nth-child(4) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.technology_item_list._btnBox {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 80px;
}

.technology_item_list._btnBox .normal_btn {
  margin-bottom: 14px;
  margin-right: 10px;
}

.technology_item_list._btnBox::before {
  position: absolute;
  left: 0;
}

.technology_item_list + .technology_item_list:not(:nth-child(2)) {
  margin-top: 10px;
}

.technology_technical {
  margin-top: 20px;
}

.technology_technical_list {
  position: relative;
  margin-bottom: 10px;
  padding: 14px 12px 14px 23px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .technology_technical_list:hover {
    background-color: #f1f5fd;
  }
}

.technology_technical_list:active {
  background-color: #f1f5fd;
}

.technology_technical_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 16px;
}

.technology_technical_item::before {
  content: attr(data-title);
  display: block;
  min-width: 80px;
  text-align: right;
  color: #8990a5;
}

.technology_technical_item:nth-child(odd) {
  color: #6a6afc;
}

.technology_technical_item + .technology_technical_item {
  margin-top: 10px;
}

.resume {
  width: 100%;
  margin-top: 17px;
  padding: 15px 20px;
  border-top: 1px solid #dce0eb;
}

.resume_title {
  font-size: 20px;
}

.resume_title._otherStyle {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 18px;
  background-color: rgba(157, 172, 248, 0.5);
  color: rgba(24, 43, 77, 0.5);
}

.resume_title._otherStyle::before {
  content: "";
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
  display: none;
  width: 16px;
  height: 5px;
  margin: auto;
  background: url("../images/icon_select_arrow.svg") no-repeat center/cover;
  -webkit-filter: invert(72%) sepia(25%) saturate(5982%) hue-rotate(199deg) brightness(110%) contrast(94%);
          filter: invert(72%) sepia(25%) saturate(5982%) hue-rotate(199deg) brightness(110%) contrast(94%);
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .resume_title._otherStyle:hover {
    background-color: #9dacf8;
    color: #182b4d;
  }
}

.resume_title._otherStyle:active {
  background-color: #9dacf8;
  color: #182b4d;
}

.resume_title._otherStyle.on {
  background-color: #9dacf8;
  color: #182b4d;
}

.resume_title._otherStyle.on::before {
  display: block;
}

.resume_info {
  position: relative;
  /* 其它瀏覽器降級方式：給定最大高度 */
  width: 100%;
  max-height: 184px;
  margin-top: 14px;
  padding: 14px 18px;
  border: solid 1px #e0e2e8;
  background-color: #fff;
}

.resume_info span {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
}

.same {
  margin-top: 14px;
  padding: 14px 20px 0;
  border-top: 1px solid #dce0eb;
}

.same_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 10px;
}

.same_item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% / 3);
  padding: 14px 10px 14px 14px;
  border-radius: 8px;
  border: solid 1px #e0e2e8;
  background-color: #fff;
}

.same_item + .same_item {
  margin-left: 10px;
}

.same_item::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 14px;
  background: url("../images/icon_tercher.svg") no-repeat center/contain;
  -webkit-filter: invert(55%) sepia(6%) saturate(801%) hue-rotate(177deg) brightness(94%) contrast(87%);
          filter: invert(55%) sepia(6%) saturate(801%) hue-rotate(177deg) brightness(94%) contrast(87%);
}

.same_item_list {
  width: calc(100% - 38px - 14px);
}

.same_item_name {
  font-size: 16px;
  line-height: 24px;
}

.same_item_now {
  display: block;
  width: 100%;
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.same_item_now::before {
  content: attr(data-title);
  color: #8990a5;
}

.same_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.same_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.same_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(50% - 10px);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.same_list_title {
  font-size: 24px;
  font-weight: bold;
}

.same_list_txt {
  position: relative;
  width: 100%;
  min-height: 48px;
  margin-top: 10px;
}

.same_list_txt span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* 用來設定一個元素是水平還是垂直方向排列其內容 */
  -webkit-line-clamp: 2;
  /* 限制指定的行數 */
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
}

.same_list_txt .normal_btn {
  position: absolute;
  right: 0;
  bottom: 2px;
  display: none;
}

.same_list_txt .showMore + .normal_btn {
  display: block;
}

.same_list_weight {
  margin-top: 10px;
  color: #556ff6;
  font-size: 16px;
}

.same_list_weight::before {
  content: attr(data-txt);
  color: #182b4d;
  font-size: 16px;
  line-height: 24px;
}

.same_list_patent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  margin-top: 10px;
}

.same_list_patent li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 8px 0 12px;
  border-radius: 10px;
  background-color: #ccf0e6;
  font-size: 26px;
  font-weight: bold;
}

.same_list_patent li:before {
  content: attr(data-txt);
  margin-top: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.same_list_patent li:nth-child(2) {
  background-color: #fde8cf;
}

.same_list_patent li:nth-child(3) {
  background-color: #c5defa;
}

.same_list_patent li:nth-child(4) {
  background-color: #cccdf0;
}

.same_list_patent li + li {
  margin-left: 10px;
}

.fixFooter {
  position: fixed;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 250px);
  height: 74px;
  margin: 30px 0 0;
  padding: 16px 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.fixFooter .normal_btn + .normal_btn {
  margin-left: 20px;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.alert_box {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 1020px;
  padding: 20px 70px 50px;
  background-color: #fff;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

._summary .alert_box {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
}

.alert_title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  color: #212529;
  text-align: center;
}

.alert_title .summary_txt {
  font-weight: bold;
  color: #6a6afc;
}

.alert_info {
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
}

.alert_close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 24px;
  height: 24px;
}

.alert_close::before, .alert_close:after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  display: block;
  width: 2px;
  height: 24px;
  background-color: #000;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.alert_close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.alert_close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.alert_table {
  width: 100%;
  text-align: left;
}

.alert_table th {
  height: 50px;
  font-size: 16px;
  color: #8990a5;
  font-weight: normal;
}

@media (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (pointer: fine) and (max-resolution: 2dppx), screen and (pointer: fine) and (-webkit-max-device-pixel-ratio: 2), (-moz-touch-enabled: 0) {
  .alert_table tr:hover td {
    background-color: #f1f5fd;
  }
}

.alert_table tr:active td {
  background-color: #f1f5fd;
}

.alert_table td {
  height: 50px;
  font-size: 16px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 -1px 0 0 #dee2e6;
          box-shadow: inset 0 -1px 0 0 #dee2e6;
}

.alert_table ._collect {
  position: relative;
  top: auto;
  right: auto;
  min-width: 100px;
  height: 34px;
  font-size: 16px;
}
/*# sourceMappingURL=all.css.map */