.addInventor {
	width: 100%;
	height: 100%;
	// .addInventor_head
	&_head {
		@include d_f(flex, none, center);
		width: 100%;
		height: 60px;
		padding-left: 53px;
		background-color: #191e38;
		color: #fff;
		font-size: 24px;
		font-weight: bold;
	}
	// .addInventor_content
	&_content {
		overflow: auto;
		@include d_f(flex);
		height: calc(100% - 60px);
		flex-direction: column;
		padding: 38px 20px 63px;
		._save{
			flex: none;
			min-width: 120px;
			height: 42px;
			margin-left: auto;
		}
	}
	// .addInventor_group
	&_group {
		& + & {
			margin-top: 14px;
			padding-top: 14px;
			border-top: 1px solid #dce0eb;
		}
	}
	// .addInventor_item
	&_item {
		@include d_f(flex, none, flex-start);
		&._title {
			font-size: 20px;
		}
		&._note {
			color: #8990a5;
		}
		& + & {
			margin-top: 14px;
			&::before {
				content: attr(data-title);
				color: #8990a5;
			}
		}
		// .addInventor_item_name
		&_name {
			@include d_f(flex, none, center);
			font-size: 32px;
			font-weight: bold;
			margin-right: 60px;
			&::before {
				content: "";
				flex: none;
				display: block;
				width: 38px;
				height: 38px;
				margin-right: 14px;
				background: url("../images/icon_tercher.svg") no-repeat
					center/contain;
				filter: invert(47%) sepia(97%) saturate(3236%)
					hue-rotate(215deg) brightness(97%) contrast(99%);
			}
		}
		// .addInventor_item_list
		&_list {
			@include d_f(flex, none, center);
			&::before {
				content: attr(data-title);
				color: #8990a5;
			}
			& + & {
				margin-top: 14px;
			}
		}
		&._alic {
			align-items: center;
		}
		&._textarea {
			&::before {
				padding-top: 14px;
			}
		}
		&._min80 {
			&::before {
				min-width: 80px;
				text-align: right;
			}
		}
	}

	// .addInventor_box
	&_box {
		margin-top: 20px;
		padding-top: 9px;
		border-top: 1px solid #dce0eb;
		.alert_search {
			max-width: 530px;
		}
		.otherTab {
			margin-top: 20px;
		}
	}
	// .addInventor_choseTxt
	&_choseTxt {
		font-size: 24px;
	}

	// .addInventor_select
	&_select {
		position: relative;
		@include d_f(flex, none, center);
		width: 100%;
		max-width: 287px;
		padding: 0 10px;
		height: 34px;
		border-radius: 6px;
		border: solid 1px #e0e2e8;
		background-color: #fff;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 8px;
			width: 20px;
			height: 8px;
			margin: auto;
			background: url("../images/icon_select_arrow.svg") no-repeat
				center/contain;
		}

		// addInventor_select_ul
		&_ul {
			position: absolute;
			top: calc(100% + 5px);
			left: 0;
			display: none;
			width: 100%;
			padding: 10px;
			border-radius: 6px;
			box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
			border: solid 1px #e0e2e8;
			background-color: #fff;
			.on & {
				display: block;
			}
		}
		// .addInventor_select_li
		&_li {
			width: 100%;
			height: 24px;
			&._inventor {
				.filter_check {
					justify-content: space-between;
					width: 100%;
					color: #182b4d;
				}
			}
			& + & {
				margin-top: 10px;
			}
		}
	}
	// .addInventor_tbBox
	&_tbBox{
		margin-top: 20px;
	}
}
