h1 {
	font-family: NotoSansCJKTC;
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
}
._min1120px {
	min-width: 1120px;
}
.mt10px {
	margin-top: 10px;
}
.mt14px {
	margin-top: 14px;
}
.normal_btn {
	min-width: 136px;
	height: 35px;
	border-radius: 6px;
	background-color: #fff;
	font-size: 14px;
	@extend %transition;
	@extend %hand;
	&._addfile {
		border: solid 1px #556ff6;
		color: #556ff6;
		@include hoverHandler {
			background-color: #556ff6;
			color: #fff;
		}
	}
	&._addinterview {
		border: solid 1px #643fdb;
		color: #643fdb;
		@include hoverHandler {
			background-color: #643fdb;
			color: #fff;
		}
	}

	&._list {
		@include d_f(flex, space-between, center);
		min-width: 233px;
		height: 28px;
		padding: 1px 12px 3px;
		border-radius: 14px;
		background-color: #3fc996;
		font-size: 16px;
		color: #fff;
		&:after {
			content: attr(data-num);
			margin-left: 24px;
		}
		@include hoverHandler {
			background-color: #1fb57e;
		}
	}
}
.page {
	width: 100%;
	margin-top: 30px;
	@include d_f(flex, center);
	// .page_item
	&_item {
		position: relative;
		@include d_f(flex, center, center);
		width: 35px;
		height: 38px;
		color: #556ff6;
		border-top: 1px solid #dee2e6;
		border-bottom: 1px solid #dee2e6;
		font-size: 16px;
		@extend %hand;
		@extend %transition;
		&:not(:last-child):after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			opacity: 0;
			width: 1px;
			height: 100%;
			background-color: #556ff6;
			@extend %transition;
		}
		& + & {
			border-left: 1px solid #dee2e6;
		}
		&:first-child {
			border-left: 1px solid #dee2e6;
		}
		&:last-child {
			border-right: 1px solid #dee2e6;
		}
		&.on {
			border-color: #556ff6;
			background-color: #556ff6;
			color: #fff;
		}
		@include hoverHandler {
			border-color: #556ff6;
			&:after {
				opacity: 1;
			}
		}
	}
}
.gototop {
	position: fixed;
	right: 8px;
	bottom: 30px;
	@include d_f(flex, center, center);
	width: 36px;
	height: 36px;
	border-radius: 18px;
	box-shadow: 0 0 6px 0 rgba(68, 70, 74, 0.4);
	background-color: rgba(137, 140, 145, 0.5);
	@extend %hand;
	@extend %transition;
	@include hoverHandler {
		box-shadow: 0 0 6px 0 rgba(68, 70, 74, 0.7);
	}
}
.wrap {
	@include d_f(flex);
	height: 100%;
	background-color: #f7f8fa;
}

.nav {
	flex: none;
	width: 250px;
	height: 100%;
	padding-top: 40px;
	background-color: #191e38;
	// .nav_title
	&_title {
		font-family: NotoSansCJKTC;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		color: #fff;
	}
	// .nav_menu
	&_menu {
		margin-top: 40px;
		// .nav_menu_item
		&_item {
			position: relative;
			@include d_f(flex, none, center);
			height: 40px;
			padding-left: 20px;
			color: #8990a5;
			@extend %hand;
			@extend %transition;
			@include hoverHandler {
				color: #ffffff;
				i {
					filter: invert(100%) sepia(27%) saturate(192%)
						hue-rotate(231deg) brightness(106%) contrast(105%);
				}
			}
			& + & {
				margin-top: 10px;
			}
			i {
				margin-right: 22px;
				filter: invert(61%) sepia(6%) saturate(935%) hue-rotate(188deg)
					brightness(93%) contrast(92%);
				@extend %transition;
			}
			._arr_right {
				position: absolute;
				right: 20px;
				margin-right: 0;
			}
			&.on {
				background-color: #556ff6;
				color: #ffffff;
				i {
					filter: invert(100%) sepia(27%) saturate(192%)
						hue-rotate(231deg) brightness(106%) contrast(105%);
				}
			}
		}
	}
}
.content {
	overflow: auto;
	width: 100%;
	padding-top: 14px;
	padding-bottom: 66px;
}

.header {
	@include d_f(flex, space-between);
	padding: 0 20px;

	// .header_info
	&_info {
		@include d_f(flex, none, center);
		> .icon {
			position: relative;
			img {
				filter: invert(61%) sepia(6%) saturate(935%) hue-rotate(188deg)
					brightness(93%) contrast(92%);
			}
			&::after {
				content: attr(data-num);
				position: absolute;
				top: 0;
				right: 0;
				@include d_f(flex, center, center);
				width: 20px;
				height: 20px;
				background-color: #f80d38;
				border-radius: 100px;
				font-family: NotoSansCJKTC;
				font-size: 12px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: #fff;
				transform: translate(40%, -50%);
			}
		}
	}
	// .header_member
	&_member {
		@include d_f(flex, none, center);
		margin-left: 40px;

		.icon._member {
			@include d_f(flex, center, center);
			width: 44px;
			height: 44px;
			background-color: #a5acc3;
			border-radius: 100px;
			img {
				width: 17px;
				height: 18px;
				filter: invert(1);
			}
		}
		.icon._trangle_bottom {
			position: relative;
			width: 16px;
			height: 8px;
			margin-left: 10px;
			filter: invert(81%) sepia(14%) saturate(369%) hue-rotate(188deg)
				brightness(85%) contrast(84%);
			img {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		// .header_member_name
		&_name {
			margin-left: 10px;
			font-family: NotoSansCJKTC;
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
		}
	}
}
.breadcrumb {
	@include d_f(flex);
	margin-top: 10px;
	padding: 0 20px;
	// .breadcrumb_item
	&_item {
		color: #8990a5;
		& + &::before {
			content: "＞";
			margin-left: 5px;
			color: #8990a5;
		}
		&:last-child {
			color: #182b4d;
		}
	}
}
.tab {
	@include d_f(flex);
	// .tab_item
	&_item {
		@include d_f(flex, center, center);
		width: 180px;
		height: 35px;
		background-color: #e4e5e7;
		color: #8990a5;
		font-size: 14px;
		@extend %hand;
		@extend %transition;
		&:first-child {
			border-top-left-radius: 19px;
			border-bottom-left-radius: 19px;
		}
		&:last-child {
			border-top-right-radius: 19px;
			border-bottom-right-radius: 19px;
		}

		@include hoverHandler {
			color: #000;
		}
		&.on {
			background-color: #556ff6;
			color: #fff;
		}
	}
}
.otherTab {
	@include d_f(flex, none, center);
	// .otherTab_item
	&_item {
		position: relative;
		@include d_f(flex, center, center);
		min-width: 120px;
		height: 36px;
		padding: 5px 12px;
		color: #182b4d;
		opacity: 0.5;
		@extend %transition;
		@extend %hand;

		&::before {
			content: "";
			position: absolute;
			top: calc(100% + 2px);
			left: 0;
			right: 0;
			display: none;
			width: 16px;
			height: 5px;
			margin: auto;
			background: url("../images/icon_select_arrow.svg") no-repeat
				center/cover;
		}
		// color: rgba(24, 43, 77, 0.5);
		&:first-child {
			border-top-left-radius: 18px;
			border-bottom-left-radius: 18px;
		}
		&:last-child {
			border-top-right-radius: 18px;
			border-bottom-right-radius: 18px;
		}
		&:nth-child(1) {
			background-color: #8ce9cf;
			&::before {
				filter: invert(87%) sepia(54%) saturate(324%) hue-rotate(87deg)
					brightness(97%) contrast(87%);
			}
			// background-color: rgba(140, 233, 207, 0.5);
		}
		&:nth-child(2) {
			background-color: #fccb91;
			&::before {
				filter: invert(88%) sepia(15%) saturate(1386%)
					hue-rotate(324deg) brightness(102%) contrast(98%);
			}
		}
		&:nth-child(3) {
			background-color: #8cbef6;
			&::before {
				filter: invert(66%) sepia(81%) saturate(366%) hue-rotate(184deg)
					brightness(99%) contrast(96%);
			}
		}
		&:nth-child(4) {
			background-color: #9295f7;
			&::before {
				filter: invert(66%) sepia(81%) saturate(366%) hue-rotate(184deg)
					brightness(99%) contrast(96%);
			}
		}
		@include hoverHandler {
			opacity: 1;
		}
		&.on{
			opacity: 1;
			&::before {
				display: block;
			}
		}
	}
}

.icon {
	position: relative;
	display: block;
	&._dashboard {
		width: 21px;
		height: 18px;
	}
	&._search {
		width: 19px;
		height: 18px;
	}
	&._connect {
		width: 21px;
	}
	&._convert {
		width: 20px;
	}
	&._company,
	&._service {
		width: 22px;
	}
	&._folder,
	&._cooperate {
		width: 24px;
	}
	&._arr_right {
		width: 14px;
	}
	&._notification {
		width: 21px;
	}
	&._add,
	&._minus {
		flex: none;
		width: 23px;
		height: 23px;
	}
	&._gototop {
		width: 18px;
		height: 18px;
		filter: invert(98%) sepia(2%) saturate(7%) hue-rotate(10deg)
			brightness(102%) contrast(105%);
	}
	svg {
		width: 100%;
		height: 100%;
	}
}

.filter {
	@include d_f(flex, center, center);
	flex-direction: column;
	padding: 30px 0;

	// .filter_inpBox
	&_inpBox {
		@include d_f(flex, center, center);
		width: 100%;
		max-width: 836px;
		margin-top: 16px;
		& + & {
			margin-top: 10px;
		}
		.tab {
			margin-right: 14px;
		}
		.tab_item {
			width: 60px;
			height: 30px;
			font-size: 14px;
		}
		._add,
		._minus {
			filter: invert(44%) sepia(17%) saturate(3930%) hue-rotate(206deg)
				brightness(95%) contrast(103%);
			@extend %hand;
			@extend %transition;
			@include hoverHandler {
				filter: invert(19%) sepia(86%) saturate(5727%)
					hue-rotate(235deg) brightness(99%) contrast(92%);
			}
		}
	}
	// .filter_input
	&_input {
		@include d_f(flex, none, center);
		width: 100%;
		height: 42px;
		margin-right: 12px;
		padding: 0 10px;
		border-radius: 6px;
		border: solid 1px #e0e2e8;
		background-color: #fff;
		input {
			width: 100%;
			height: 100%;
			padding-left: 12px;
		}
		input::placeholder {
			color: #a9b0c7;
		}
	}
	// .filter_radioBox
	&_radioBox {
		@include d_f(flex, none, center);
		width: 100%;
		min-height: 65px;
		margin-top: 20px;
		padding: 0 20px;
		background-color: #eceff4;
	}
	// .filter_radio
	&_radio {
		@include d_f(flex, none, center);
		font-size: 16px;
		@extend %hand;
		// .filter_radio_span
		&_span {
			position: relative;
			display: block;
			width: 24px;
			height: 24px;
			margin-right: 6px;
			border-radius: 12px;
			border: solid 1px #e0e2e8;
			background-color: #fff;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: none;
				width: 10px;
				height: 10px;
				margin: auto;
				border-radius: 12px;
				background-color: #556ff6;
			}
			input:checked + & {
				border-color: #556ff6;
				&:before {
					display: block;
				}
			}
		}

		input {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}
		& + & {
			margin-left: 20px;
		}
	}
	// .filter_checkBox
	&_checkBox {
		@include d_f(flex, flex-start, center);
		flex-wrap: wrap;
		width: 100%;
		margin-top: 20px;
		padding: 0 20px;
		font-size: 16px;
	}
	// .filter_check
	&_check {
		@include d_f(flex, none, center);
		// .filter_check_span
		&_span {
			flex: none;
			@include d_f(flex, center, center);
			width: 24px;
			height: 24px;
			margin-right: 6px;
			border-radius: 4px;
			border: solid 1px #e0e2e8;
			background-color: #fff;
			@extend %hand;
			&:before {
				content: "";
				display: none;
				width: 16.6px;
				height: 11.8px;
				background: url("../images/icon_check.svg") no-repeat
					center/cover;
			}
			input:checked + & {
				border-color: #556ff6;
				&:before {
					display: block;
				}
			}
		}
		input {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}

		// .filter_check_group
		&_group {
			@include d_f(flex, none, center);
			flex-wrap: wrap;
			width: 100%;
			margin-top: 20px;

			.filter_check {
				margin-right: 20px;
				margin-bottom: 15px;
			}
		}
	}
	// .filter_btnBox
	&_btnBox {
		@include d_f(flex, center, center);
		width: 100%;
		padding: 0 20px;
	}
	// .filter_btn
	&_btn {
		min-width: 120px;
		height: 42px;
		font-size: 16px;
		border-radius: 6px;
		@extend %transition;
		@extend %hand;

		&._clear {
			background-color: #e8effd;
			color: #556ff6;
			@include hoverHandler {
				background-color: #c4d7fd;
			}
		}
		&._search {
			background-color: #556ff6;
			color: #fff;
			@include hoverHandler {
				background-color: #2949f2;
			}
		}
		& + & {
			margin-left: 30px;
		}
	}
}

.technology {
	padding: 0 20px;
	// .technology_item
	&_item {
		@include d_f(flex);
		width: 100%;
		min-height: 196px;
		padding: 16px 18px 20px;
		border-radius: 10px;
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
		background-color: #fff;
		@extend %transition;
		@include hoverHandler {
			background-color: #f1f5fd;
		}
		& + & {
			margin-top: 10px;
		}
		// .technology_item_info
		&_info {
			@include d_f(flex, space-between);
			flex-direction: column;
			max-width: 136px;
			.detail & {
				flex-direction: row;
				// flex-wrap: wrap;
				width: 100%;
				max-width: 100%;

				div:not(.technology_item_name) {
					align-items: flex-start;
					width: 100%;
					margin-left: 60px;
				}
			}
			.normal_btn + .normal_btn {
				margin-top: 14px;
			}
		}
		// .technology_item_name
		&_name {
			flex: none;
			@include d_f(flex, none, center);
			font-size: 20px;
			font-weight: bold;
			&::before {
				content: "";
				flex: none;
				display: block;
				width: 38px;
				height: 38px;
				margin-right: 10px;
				background: url("../images/icon_tercher.svg") no-repeat
					center/contain;
				filter: invert(47%) sepia(97%) saturate(3236%)
					hue-rotate(215deg) brightness(97%) contrast(99%);
			}
		}
		// .technology_item_detail
		&_detail {
			@include d_f(flex, none, flex-start);
			flex-wrap: wrap;
			width: calc(100% - 136px);
			padding-left: 30px;

			.detail & {
				padding-top: 44px;
				padding-left: 20px;
			}
		}
		// .technology_item_list
		&_list {
			@include d_f(flex, none, center);
			width: 100%;
			font-size: 16px;
			line-height: 22px;
			&::before {
				flex: none;
				content: attr(data-title);
				font-size: 16px;
				color: #8990a5;
			}
			&:nth-child(1) {
				width: 30%;
			}
			&:nth-child(2) {
				width: 70%;
				.detail & {
					align-items: flex-start;
					width: 100%;
				}
			}
			&:nth-child(4) {
				align-items: flex-start;
			}
			&._btnBox {
				.normal_btn + .normal_btn {
					margin-left: 10px;
				}
			}
			& + &:not(:nth-child(2)) {
				margin-top: 10px;
			}
		}
	}
}

.resume {
	width: 100%;
	margin-top: 17px;
	padding: 15px 20px;
	border-top: 1px solid #dce0eb;
	// .resume_title
	&_title {
		font-size: 20px;
	}
	// .resume_info
	&_info {
		/* 其它瀏覽器降級方式：給定最大高度 */
		max-height: 184px;
		margin-top: 14px;
		padding: 14px 18px;
		border: solid 1px #e0e2e8;
		background-color: #fff;

		span {
			display: -webkit-box;
			-webkit-box-orient: vertical; /* 用來設定一個元素是水平還是垂直方向排列其內容 */
			-webkit-line-clamp: 7; /* 限制指定的行數 */
			overflow: hidden;
			width: 100%;
			font-size: 16px;
			line-height: 22px;
		}
	}
}
.same {
	margin-top: 14px;
	padding: 14px 20px 0;
	border-top: 1px solid #dce0eb;
	// .same_group
	&_group {
		@include d_f(flex);
		margin-top: 10px;
	}
	// .same_item
	&_item {
		@include d_f(inline-flex, none, center);
		width: calc(100% / 3);
		padding: 14px 10px 14px 14px;
		border-radius: 8px;
		border: solid 1px #e0e2e8;
		background-color: #fff;
		& + & {
			margin-left: 10px;
		}
		&::before {
			content: "";
			flex: none;
			display: block;
			width: 38px;
			height: 38px;
			margin-right: 14px;
			background: url("../images/icon_tercher.svg") no-repeat
				center/contain;
			filter: invert(55%) sepia(6%) saturate(801%) hue-rotate(177deg)
				brightness(94%) contrast(87%);
		}
		// .same_item_list
		&_list {
			width: calc(100% - 38px - 14px);
		}
		// .same_item_name
		&_name {
			font-size: 16px;
			line-height: 24px;
		}
		// .same_item_now
		&_now {
			display: block;
			// width: calc(100% - 100px);
			width: 100%;
			margin-top: 4px;
			font-size: 14px;
			line-height: 20px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&::before {
				content: attr(data-title);
				color: #8990a5;
			}
		}
	}
	// .same_head
	&_head {
		@include d_f(flex, space-between, center);
	}
}
