h1 {
	font-family: NotoSansCJKTC;
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
}

.wrap {
	@include d_f(flex);
	height: 100%;
}

.nav {
	flex: none;
	width: 250px;
	height: 100%;
	padding-top: 40px;
	background-color: #191e38;
	// .nav_title
	&_title {
		font-family: NotoSansCJKTC;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		color: #fff;
	}
	// .nav_menu
	&_menu {
		margin-top: 40px;
		// .nav_menu_item
		&_item {
			position: relative;
			@include d_f(flex, none, center);
			height: 40px;
			padding-left: 20px;
			color: #8990a5;
			@extend %hand;
			@extend %transition;
			@include hoverHandler {
				color: #ffffff;
				i {
					filter: invert(100%) sepia(27%) saturate(192%)
						hue-rotate(231deg) brightness(106%) contrast(105%);
				}
			}
			& + & {
				margin-top: 10px;
			}
			i {
				margin-right: 22px;
				filter: invert(61%) sepia(6%) saturate(935%) hue-rotate(188deg)
					brightness(93%) contrast(92%);
				@extend %transition;
			}
			._arr_right {
				position: absolute;
				right: 20px;
				margin-right: 0;
			}
			&.on {
				background-color: #556ff6;
				color: #ffffff;
				i {
					filter: invert(100%) sepia(27%) saturate(192%)
						hue-rotate(231deg) brightness(106%) contrast(105%);
				}
			}
		}
	}
}
.content {
	width: 100%;
	padding-top: 14px;
	padding-bottom: 66px;
}

.header {
	@include d_f(flex, space-between);
	padding: 0 20px;

	// .header_info
	&_info {
		@include d_f(flex, none, center);
		> .icon {
			position: relative;
			img {
				filter: invert(61%) sepia(6%) saturate(935%) hue-rotate(188deg)
					brightness(93%) contrast(92%);
			}
			&::after {
				content: attr(data-num);
				position: absolute;
				top: 0;
				right: 0;
				@include d_f(flex, center, center);
				width: 20px;
				height: 20px;
				background-color: #f80d38;
				border-radius: 100px;
				font-family: NotoSansCJKTC;
				font-size: 12px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: #fff;
				transform: translate(40%, -50%);
			}
		}
	}
	// .header_member
	&_member {
		@include d_f(flex, none, center);
		margin-left: 40px;
		.icon {
			width: 44px;
			height: 44px;
			background-color: #a5acc3;
			border-radius: 100px;
		}
		// .header_member_name
		&_name {
			margin-left: 10px;
			font-family: NotoSansCJKTC;
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
		}
	}
}
.breadcrumb {
	@include d_f(flex);
	margin-top: 10px;
	padding: 0 20px;
	// .breadcrumb_item
	&_item {
		color: #8990a5;
		& + &::before {
			content: "＞";
			margin-left: 5px;
			color: #8990a5;
		}
		&:last-child {
			color: #182b4d;
		}
	}
}
.tab {
	@include d_f(flex);
	// .tab_item
	&_item {
		@include d_f(flex, center, center);
		width: 180px;
		height: 35px;
		background-color: #e4e5e7;
		color: #8990a5;
		font-size: 14px;
		@extend %hand;
		@extend %transition;
		&:first-child {
			border-top-left-radius: 19px;
			border-bottom-left-radius: 19px;
		}
		&:last-child {
			border-top-right-radius: 19px;
			border-bottom-right-radius: 19px;
		}

		@include hoverHandler {
			color: #000;
		}
		&.on {
			background-color: #556ff6;
			color: #fff;
		}
	}
}

.icon {
	position: relative;
	display: block;
	&._dashboard {
		width: 21px;
		height: 18px;
	}
	&._search {
		width: 19px;
		height: 18px;
	}
	&._connect {
		width: 21px;
	}
	&._convert {
		width: 20px;
	}
	&._company,
	&._service {
		width: 22px;
	}
	&._folder,
	&._cooperate {
		width: 24px;
	}
	&._arr_right {
		width: 14px;
	}
	&._notification {
		width: 21px;
	}
	&._add,
	&._minus {
		flex: none;
		width: 23px;
		height: 23px;
	}

	svg {
		width: 100%;
		height: 100%;
	}
}

.filter {
	@include d_f(flex, center, center);
	flex-direction: column;
	padding-top: 30px;

	// .filter_inpBox
	&_inpBox {
		@include d_f(flex, center, center);
		width: 100%;
		max-width: 836px;
		margin-top: 16px;
		& + & {
			margin-top: 10px;
		}
		.tab {
			margin-right: 14px;
		}
		.tab_item {
			width: 60px;
			height: 30px;
			font-size: 14px;
		}
		._add,
		._minus {
			filter: invert(44%) sepia(17%) saturate(3930%) hue-rotate(206deg)
				brightness(95%) contrast(103%);
			@extend %hand;
			@extend %transition;
			@include hoverHandler {
				filter: invert(19%) sepia(86%) saturate(5727%)
					hue-rotate(235deg) brightness(99%) contrast(92%);
			}
		}
	}
	// .filter_input
	&_input {
		@include d_f(flex, none, center);
		width: 100%;
		height: 42px;
		margin-right: 12px;
		padding: 0 10px;
		border-radius: 6px;
		border: solid 1px #e0e2e8;
		background-color: #fff;
		input {
			width: 100%;
			height: 100%;
			padding-left: 12px;
		}
		input::placeholder {
			color: #a9b0c7;
		}
	}

	.filter_radioBox {
		@include d_f(flex, none, center);
		width: 100%;
		min-height: 65px;
		margin-top: 20px;
		padding: 0 20px;
		background-color: #eceff4;
	}
	// .filter_radio
	&_radio {
		@include d_f(flex, none, center);
		font-size: 16px;
		@extend %hand;
		// .filter_radio_span
		&_span {
			position: relative;
			display: block;
			width: 24px;
			height: 24px;
			margin-right: 6px;
			border-radius: 12px;
			border: solid 1px #e0e2e8;
			// border: solid 1px #556ff6;
			background-color: #fff;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: none;
				width: 10px;
				height: 10px;
				margin: auto;
				border-radius: 12px;
				background-color: #556ff6;
				input:checked + & {
					display: block;
				}
			}
			&::after {
				content: "";
				position: absolute;
				top: -1px;
				left: -1px;
				display: none;
				width: 100%;
				height: 100%;
				border: solid 1px #556ff6;
				border-radius: 12px;
				input:checked + & {
					display: block;
				}
			}
		}

		input {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}
		& + & {
			margin-left: 20px;
		}
	}
}
