<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>

<body>
	<template id="navTemplate">
		<div class="nav_title">科產系統平台</div>
		<div class="nav_menu">
			<a class="nav_menu_item">
				<i class="icon _dashboard">
					<img src="./images/menu/icon_dashboard_normal.svg" alt="">
				</i>
				Dashboard
			</a>
			<a class="nav_menu_item" href="./aaa.html" name="navItem" data-name='technology'>
				<i class="icon _search">
					<img src="./images/menu/icon_search_normal.svg" alt="">
				</i>
				搜尋技術與發明人
				<i class="icon _arr_right">
					<img src="./images/icon_arr_right.svg" alt="">
				</i>
			</a>
			<a class="nav_menu_item" href="./bbb.html" name="navItem" data-name='bbb.html'>
				<i class="icon _company">
					<img src="./images/menu/icon_company_normal.svg" alt="">
				</i>
				企業資訊檢索
			</a>
			<a class="nav_menu_item">
				<i class="icon _folder">
					<img src="./images/menu/icon_folder_normal.svg" alt="">
				</i>
				技術摘要文件管理
			</a>
			<a class="nav_menu_item">
				<i class="icon _connect">
					<img src="./images/menu/icon_connect_normal.svg" alt="">
				</i>
				訪談準備
			</a>
			<a class="nav_menu_item">
				<i class="icon _convert">
					<img src="./images/menu/icon_convert_normal.svg" alt="">
				</i>
				商轉技術探勘
			</a>
			<a class="nav_menu_item">
				<i class="icon _cooperate">
					<img src="./images/menu/icon_cooperate_normal.svg" alt="">
				</i>
				產學合作案例
			</a>
			<a class="nav_menu_item">
				<i class="icon _service">
					<img src="./images/menu/icon_service_normal.svg" alt="">
				</i>
				聯繫客服
			</a>
		</div>
	</template>
</body>

</html>